In [38]:
import sqlite3 as sql
import pandas as pd
#from sklearn.linear_model import LinearRegression
#from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from scipy import optimize
import pandas as pd
import numpy as np
import seaborn as sns
from urllib.request import urlretrieve
import pandas as pd
from sklearn.linear_model import LinearRegression
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sqlite3 as sql

sns.set()

In [41]:
conn = sql.connect("GHdata.db")
conn.execute ("""
        drop table if exists Greenhousedata
        """)
conn.execute ("""
        CREATE TABLE Greenhousedata (GenotypeNumber,Genotype,rep,exp,DAI3,DAI5,DAI7,DAI9);
        """)
cursor = conn.execute("select * from Greenhousedata")
c= conn.cursor()

    
df2 = pd.read_excel("INFO8000Final_RawData_2Exp.xlsx")
df3 =df2.round(decimals = 3)

df3.to_sql("Greenhousedata", conn, if_exists='append', index = False)
df = pd.DataFrame(cursor.fetchall(),columns = ['GenotypeNumber','Genotype','rep','exp','DAI3','DAI5','DAI7','DAI9'])

In [42]:
df

Empty DataFrame
Columns: [GenotypeNumber, Genotype, rep, exp, DAI3, DAI5, DAI7, DAI9]
Index: []

In [36]:

conn = sql.connect("GHdata.db")
conn.execute ("""
drop table if exists Greenhousedata
""")
conn.execute ("""
CREATE TABLE Greenhousedata (GenotypeNumber,Genotype,rep,exp,DAI3,DAI5,DAI7,DAI9);
""")
cursor = conn.execute("select * from Greenhousedata")
df2 = pd.read_excel("INFO8000Final_RawData_2Exp.xlsx")
df3 = df2.round(decimals = 3)
df2.to_sql("Greenhousedata", conn, if_exists='append', index=False)

OperationalError: database is locked

In [62]:


con = sql.connect("GHdata.db") 

cur = con.cursor()  
cur.execute("select * from Greenhousedata")
df2 = pd.read_excel("INFO8000Final_RawData_2Exp.xlsx")
df3 = df2.round(decimals = 3)
df2.to_sql("Greenhousedata", conn, if_exists='append', index=False)
df = pd.DataFrame(cur.fetchall(),columns = ['GenotypeNumber','Genotype','rep','exp','DAI3','DAI5','DAI7','DAI9'])

OperationalError: database is locked

In [ ]:
df

In [ ]:
df