In [109]:
import pandas as pd

In [81]:
df1 = pd.DataFrame({"Name":["PO-yun","ABCDDE"],"number":[1234,5678]})
df2 = pd. DataFrame(
    columns=["A","B","C"],
    data=[
    [1,2,3],
    [4,5,6],
    [7,8,9]])

df2 = df2.set_index (["A"])

In [90]:
df2['E']=df2.B*df2.C

In [93]:
df2

   B  C   E
A
1  2  3   6
4  5  6  30
7  8  9  72

In [80]:
iris_df = pd.read_csv("data/iris.data"
                    )

In [58]:
iris_df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [71]:
untidy_phone =pd.DataFrame({"name":["kyle","erin","ABC","DEF"],"MobileNumbner":[4,1,2,1,],"HomeNumber":[6,5,3,None]})
tidy_phone.melt(id_vars=["name"],var_name="phoneType", value_name="phoneNumber").dropma()

AttributeError: 'DataFrame' object has no attribute 'dropma'

In [67]:
untidy_phone.pivot(index="name", columns ="phonetype",values ="phonenumbers")

NameError: name 'tidy_phone' is not defined

In [103]:
df1.append(pd.DataFrame({"Name":["CAT"],"number":[233334]}),ignore_index=True)

     Name  number
0  PO-yun    1234
1  ABCDDE    5678
2     CAT  233334

In [108]:
df1['Name'],['number']

(0    PO-yun
 1    ABCDDE
 Name: Name, dtype: object, ['number'])

In [110]:
untidy_phone.iloc[1,1]

1