In [1]:
import sqlite3 as sql
import pandas as pd

In [3]:
conn = sql.connect("tempdb4.db")
try:
    conn.execute ("""
    drop table if exists manuf
    """)

    conn.execute ("""
    CREATE TABLE manuf (ID INT, NAME TEXT, PRIMARY KEY ('ID'));
    """)
    
    conn.executemany ("""
    Insert into manuf values (?,?)""",[ (1, 'Merk'),(2, 'Vtech'),(3, 'MSD'),(4, 'Biopharm'),(5, 'Zoetis')])
    

    cursor = conn.execute("select * from manuf")
    df = pd.DataFrame(cursor.fetchall(),columns = ['ManufacturorID','NAME'])
    
    print(df)
      
    conn. commit

SyntaxError: unexpected EOF while parsing (<ipython-input-3-72b79faa776e>, line 21)